.title{
    text-align: center;
    color: black;
    background-position: center;
    margin-top: 250px;
    background-color: aquamarine;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 10PX;
    padding-top: 5px;
    ;
}

.bg{
    background-color: rgb(162, 46, 162);
}
.start-btn {
    padding: 10px 20px;
    border: 1px solid black;
    text-decoration: none;
    background: white;
    color: black;
}

.game_bg{
    background-color: rgb(204, 77, 170);
    margin-top: 50px;
    color: black;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    margin-right: 5%;
}

.game_bg img{
    width: 200px;
    height: 200px;
    
}

.option{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.option img{
    width: 200px;
    height: auto;
}
.option button{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border:none;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.option button:hover{
    background-color: lightgreen;
}

.heading{
    background-color: blueviolet;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 3%;
    padding-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

.top-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.side-img{
    width:200px;
    height: 200px;
}

.info-box{
    width: 400px;
}



.result{
    text-align: center;
    background-color: white;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
}

.result button{
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.option button:hover{
    transform: scale(1.1);
    transition: 0.3s;
}